@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
body{
    font-family: "Inter", sans-serif;
}
/* color variable declaration*/
:root{
    --bg-blue: #1A0B2E;
    --color-green: #00FF88;
    --color-white: #FFFFFF;
}

/* header area styles */
header{
    background-color: var(--bg-blue);
}

